.logo-container {
  flex: 0 0 20%;
}

.nav-links {
  flex: 0 0 60%;
}

.container-socialNet {
  flex: 0 0 20%;
}

.logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.nav-dimensions {
  position: sticky;
}